<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias</title>
</head>
<body>

    <h1>Últimas notícias</h1>
    <ul>
        <% articles.forEach(article=> { %>
            <li>
                <h2>
                    <%= article.title %>
                </h2>
                <p>
                    <%= article.description %>
                </p>
                <a href="<%= article.url %>">Leia mais</a>
            </li>
            <% }); %>
    </ul>

</body>

</html>